h2,
h3 {
	font-family: "Gill Sans", Helvetica, sans-serif;
	text-align: center;
	border-radius: 18px;
	background: #fff6e9;
	padding: 5px;
	margin-right: 1em;
	margin-left: 1em;
}

h2 {
	margin-top: 0;
}

h3 {
	margin-top: 30px;
}

#data table {
	width: 90%;
	border-collapse: collapse;
	margin: 0 auto;
}

#data tr:nth-child(even) {
	background-color: #f2f2f2;
}

#navbar-wrap {
	padding: 1px;
}
