{% extends "base.html" %} {% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        var table = $("#data").DataTable({
            searching: true,
            paging: false,
            ordering: false,
            info: false,
            scrollY: '70vh', 
            scrollCollapse: true,
            paging: false,
            ajax: {
                url: "/sample/summary/data",
                dataSrc: ""
            },
            columns: [
                { data: "comp_name" },
                { data: "comp_abbr" },
                { data: "alternate_comp_names" },
                { data: "control_name" },
                {
                    data: "comp_name",
                    render: function (data, type, row, meta) {
                        if (type === "display") {
                            data = '<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href=\'/lifespan/search/' + data + '\'"><i class="fas fa-download"></i></button>';

                        }
                        return data;
                    },
                    className: "text-center"
                }
            ],
            columnDefs: [
                {
                    targets: [2],
                    visible: false,
                }
            ],
            // Customizing table format
           dom: "Bfrtip",
           buttons: [
               "copy",
               "csv",
               "excel",
               "pdf",
               "print"
           ],
           lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
           scrollX: true,
           scrollCollapse: true,
           autoWidth: true,
        });
        table.on("select deselect", function () {
            var selectedRows = table.rows({ selected: true }).count();
            table.button(2).enable(selectedRows > 0);
            table.button(3).enable(selectedRows > 0);
            table.button(4).enable(selectedRows > 0);
        });
    });
</script>
<style>
    .custom-search-bar {
    text-align: left;
    margin-left: 10px; /* Adjust the value as needed */
    margin-top: 10px; /* Adjust the value as needed */
    }
    /* Add this part to incorporate the scrolling */
   div.dataTables_wrapper {
   width: 900px; /* Set the desired width for the table */
   margin: 0 auto; /* Center the table on the page */
   }
</style>
<div id="main">
    <table id="data" class="display compact nowrap" width="100%" style="font-family: 'Arial Narrow', Arial, sans-serif;">
        <thead>
            <tr>
                <th>Compound Name</th>
                <th>Abbreviation</th>
                <th>Alternate Names</th>
                <th>Control Compound</th>
                <th>Download Data</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}